<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FALLO</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f9542d5e15.js" crossorigin="anonymous"></script>
</head>
<body>
    <section class = "headerpagos">
        <nav>
            <a href="/"><img src="images\logo.png" ></a>
            <div class="nav-links" id="navLinks">
                <i class="fa-solid fa-xmark" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="/">Home</a></li>
                </ul>
            </div>
            <i class="fa-solid fa-bars" onclick="showMenu()"></i>
        </nav>
        <div class="text-box">
            <H2>Su transaccion no ha podido ser completada</H2>
            <h3>Esto puede deberse a un error en el número de la tarjeta, le recomendamos intentarlo de nuevo más tarde.</h3>
            <a href="/" class = "hero-btn">Finalizar</a>
        </div>
    </section>

<!--------JavaScript para menú---------->
<script>
    var navLinks = document.getElementById("navLinks")

    function showMenu(){
        navLinks.style.right ="0";
    }
    function hideMenu(){
        navLinks.style.right ="-200px";
    }
</script>
</body>
</html>